name = "acronymy"
main = "src/index.js"
compatibility_date = "2025-10-17"
account_id = "c229cc48718600b3bd546f03383082e9"
compatibility_flags = [ "nodejs_compat" ]

[assets]
directory = "./assets"

[env.prod]
routes = [{pattern = "acronymy.net", custom_domain = true, zone_name = "acronymy.net"}]

[env.prod.triggers]
crons = ["1 0 * * *"] # every day at one minute past midnight

[env.prod.vars]
MASTODON_URL = "https://social.wub.site"

[env.prod.observability]
enabled = true

[[env.prod.kv_namespaces]]
# META stores miscellaneous information, such as the word of the day
binding = "META"
id = "8c703fb07e54401084e6e7ce5dc7da2e"
preview_id = "8c703fb07e54401084e6e7ce5dc7da2e"
remote = true

[[env.prod.d1_databases]]
binding = "DB"
database_name = "acronymy-prod"
database_id = "09491cb7-cd9f-4fea-9bd8-52a49da0d985"
remote = true

[[env.prod.ratelimits]]
name = "SUBMISSION_RATE_LIMITER"
namespace_id = "1"
simple = { limit = 5, period = 60 }

[env.dev.vars]
MASTODON_URL = ""

[[env.dev.kv_namespaces]]
binding = "META"
id = "75d13e911a294abcb3f71ac23a908acc"
preview_id = "75d13e911a294abcb3f71ac23a908acc"
remote = true

[[env.dev.d1_databases]]
binding = "DB"
database_name = "acronymy-dev"
database_id = "4c4bbc9a-694c-454f-8584-578671af510b"
remote = true
